<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyesoft.cloud.modules.system.mapper.SystemLogMapper">
  <resultMap id="BaseResultMap" type="com.zhiyesoft.cloud.modules.system.domain.SystemLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="SORT_NUM" jdbcType="INTEGER" property="sortNum" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="OPE_METHOD" jdbcType="VARCHAR" property="opeMethod" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID, NAME, SORT_NUM, CREATE_BY, UPDATE_BY, CREATE_TIME, UPDATE_TIME, DESCRIPTION, 
    OPE_METHOD, CONTENT
  </sql>
</mapper>