<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyesoft.cloud.modules.mem.mapper.CouponMapper">
  <resultMap id="BaseResultMap" type="com.zhiyesoft.cloud.modules.mem.domain.Coupon">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
    <result column="IS_LOCKED" jdbcType="INTEGER" property="isLocked" />
    <result column="IS_VALID" jdbcType="INTEGER" property="isValid" />
    <result column="SORT_NUM" jdbcType="INTEGER" property="sortNum" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="RECEIVE_CONDITIONS" jdbcType="INTEGER" property="receiveConditions" />
    <result column="EFFITIVE_TIME" jdbcType="TIMESTAMP" property="effitiveTime" />
    <result column="EXPIRE_TIME" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="DISCOUNT" jdbcType="INTEGER" property="discount" />
    <result column="REDUCE_PRICE" jdbcType="DOUBLE" property="reducePrice" />
    <result column="RECEIVE_TIMES" jdbcType="INTEGER" property="receiveTimes" />
    <result column="EFFITIVE_WAY" jdbcType="INTEGER" property="effitiveWay" />
    <result column="SHOP_ID" jdbcType="VARCHAR" property="shopId" />
  </resultMap>
  
</mapper>